* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 1510px;
}

h1 {
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

h3 {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
}

h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
}

.text_h5 {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.text_pre {
    white-space: pre-wrap;
}

.input_style {
    width: 100%;
    height: 38px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    padding-left: 5px;
}

.part {
    max-width: 1170px;
    margin: 30px 170px;
}

.tabs__bottom {
    width: 270px;
    height: 58px;
    color: rgb(255, 255, 255);
    background: rgba(236, 121, 121, 1);
    border: 0;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
}


/* section */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 71px;
}

.awesome {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}


.section__text {
    color: rgba(134, 135, 139, 1);
    align-self: center;
    margin-top: 40px;
    text-align: center;
}


.hr {
    width: 170px;
    border-bottom: 1px solid #EC7979;
    align-self: center;
}

/* section end */

/* mission 10 */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    max-width: 1510px;
    height: 75px;
    color: white;
}

.header img {
    width: 86.8px;
    height: 30.69px;
    margin-left: 115.28px;
}

.header__menu {
    display: flex;
    margin-right: 170px;
}

.header__menu a {
    color: white;
    background: black;
    width: 113.8px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.header__menu a:hover {
    background: rgba(236, 121, 121, 1);
}

.header__menu a:active {
    background: rgba(171, 73, 73, 1);
}

.menu {
    display: none;
}

/* mission 11 */

.axit {
    max-width: 1510px;
    height: 1026px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.axit__block {
    max-width: 1170px;
    height: 558px;
    margin: 207px 20px 0 170px;
    display: flex;
    justify-content: space-between;
}

.axit__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.axit__logo {
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;
}

.axit__logo img {
    width: 170px;
    height: 55px;
    margin-left: -10px;
}

.axit__h1 {
    max-width: 670px;
    min-height: 168px;
}

.axit__block .hr {
    align-self: flex-start;
    border-color: white;
}

.axit__text {
    width: 270px;
    height: 42px;
    color: white;
}

.axit__content .tabs__bottom {
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 1);
}

.axit__form {
    width: 470px;
    height: 450px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.axit__form .form__h4 {
    width: 398px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.axit__form .form__h4 h4 {
    text-transform: uppercase;
}

h4 span {
    color: rgba(236, 121, 121, 1);
}

.form__input {
    margin: 45px 50px 75px 50px;
}

.form__input input {
    margin: 0;
}

.form__input input:not(:first-of-type) {
    margin-top: 33px;
}

.axit__form .tabs__bottom {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 60px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
}



/* mission 9 */

.social {
    display: flex;
    margin-bottom: 99px;
    padding-left: 170px;

}

.social__text {
    max-width: 470px;
}

.social__h4 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.social__text .text_h5 {
    color: rgba(134, 135, 139, 1);
}

.social__icon {
    display: flex;
    align-items: center;
    height: 140px;
    flex-wrap: wrap;
}

.social__icon img {
    width: 70px;
    margin-left: 30px;
}

/* mission 2 */

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    display: none;
    border: 1px solid rgba(198, 203, 205, 1)
}

.tabs__block {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    justify-content: end;
}

.tabs__content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.tabs__h3 {
    max-width: 570px;
    height: 124px;
    display: flex;
    align-items: center;
}

.tabs__content input {
    margin-bottom: 54px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    position: relative;
    top: 1px;
    width: 203px;
    height: 40px;
    padding-top: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border: 1px solid rgba(198, 203, 205, 1);
    border-bottom: 1px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* mission 3 */

.about {
    margin-top: 50px;
}

.idea {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.groop {
    width: 370px;
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.groop img {
    width: 170px;
    height: 170px;
}

.groop .text_h5 {
    color: #000000;
    text-align: center;
}

.groop h4 {
    margin-top: 30px;
}

/* mission 4 */

.paricing {
    margin-top: 58px;
    max-width: 1510px;
    margin-bottom: 50px;
}

.paricing .awesome {
    margin-top: 50px;
}

.paricing .section {
    margin-bottom: 59px;
}

.praice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price_block {
    width: 370px;
    height: max-content;
    color: #86878B;
}

.price_block p,
.price_block h2,
.price_block h3 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_block h2 {
    height: 100px;
    border-top: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
    color: #FFFFFF;
    font-weight: 700;
}

.price_block h2,
.price_block h3,
.price_block p:first-of-type {
    background: #333333;
}

.price_block h3 {
    height: 60px;
    color: #FFFFFF;
}

.price_block:nth-child(2n+1) {
    margin-top: 20px;
}

.price_block:nth-child(2) {
    box-shadow: 0px 4px 10px 0 rgba(51, 51, 51, 0.3);
}

/* mission 5 */

.custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom__block {
    width: 370px;
    height: 336px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.custom__text {
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background: rgba(226, 226, 226, 1);
    margin-bottom: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 21px;
    color: rgba(134, 135, 139, 1);
}

.custom__text::after {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgba(226, 226, 226, 1);
    top: 100px;
    right: 270px;
}

.man {
    display: flex;
    flex-direction: column;
}

.custom__name {
    width: 269px;
    height: 54px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-left: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.manager {
    width: 270px;
    height: 21px;
    margin-left: 30px;
}

.custom input,
.custom label {
    display: none;
}

/* mission 6 */

.banner {
    max-width: 1510px;
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/banner_2.jpg');
    background-size: 100%;
    color: white;
    padding-top: 50px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
}

.banner .text_h5 {
    color: white;
}

.banner .hr {
    border-color: white;
}

.banner__bottom {
    width: 370px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    align-self: center;
    font-weight: lighter;
}

/* mission 7 */

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact__input {
    display: flex;
    justify-content: space-between;

}

.contact__log {
    max-width: 571px;
}

::-webkit-input-placeholder {
    color: rgba(189, 189, 189, 1);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

textarea {
    width: 569px;
    height: 214px;
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    resize: none;
    padding: 5px;
    margin-left: 10px;
}

.contact .banner__bottom {
    background: rgba(236, 121, 121, 1);
}

/* mission 8 */

.footer {
    max-width: 1510px;
    height: 164px;
    background: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 35px 0 27px 0;
}

.footer img {
    height: 53.2px;
    width: 53.2px;
    margin-right: 32.8px;
}

.footer img:last-of-type {
    margin: 0;
}

.footer p {
    width: 1170px;
    height: 21px;
    margin: 0;
}

/* ----------------------------------- */

.button1:hover {
    border: 1px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
}

.button1:active {
    background: rgba(171, 73, 73, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(171, 73, 73, 1)
}

.button2:hover {
    background: rgba(171, 73, 73, 1);
}

.button2:active {
    background: rgba(236, 121, 121, 1);
    box-shadow: 0px 0px 10px 0px rgba(171, 73, 73, 1) inset;
}

@media screen and (max-width:1470px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    h3 {
        font-size: 24px;
        line-height: 33px;
    }

    h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .text_h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .part {
        margin: 0 16px;
        margin-bottom: 50px;
    }

    .header__menu {
        margin-right: 20px;
    }

    .axit {
        height: 768px;
    }

    .axit .hr {
        width: 115px;
    }

    .axit__block {
        margin: 137px 20px 0 115px;
    }

    .axit__form {
        width: 398px;
        height: 450px;
        margin-left: 30px;
    }

    .axit__content {
        justify-content: flex-start;
    }

    .axit__logo {
        width: 183px;
        height: 74px;
        margin-bottom: 35px;
    }

    .axit__logo img {
        height: 41px;
        margin-left: -30px;
    }

    .axit__text {
        margin: 31px 0 20px 0;
        width: 183px;
    }

    .axit__content input[type="button"] {
        width: 183px;
        height: 50px;
    }

    .social {
        padding-left: 16px;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    .social__icon {
        max-height: 105px;
    }

    .social__icon img {
        width: 64px;
        margin-left: 20px;

    }

    .social__h4 {
        height: 45px;
        margin-bottom: 13px;
    }

    .social__text {
        max-width: 380px;
    }

    .tabs__block {
        height: max-content;
        justify-content: space-between;
        min-height: 385px;
    }

    .tabs__content {
        padding: 0 10px 0 85px;
    }

    .tabs__block img {
        width: 398px;
        height: 385px;
    }

    .tabs__h3 {
        height: 89px;
        margin-bottom: 13px;
    }

    .tabs__content .tabs__bottom {
        width: 232px;
        height: 58px;
        margin-top: auto;
        margin-bottom: 50px;
    }

    .tabs>label {
        width: 172px;
    }

    .section {
        margin-bottom: 32px;
    }

    .section .hr {
        width: 142px;
    }

    .awesome {
        height: 120px;
    }

    .groop {
        width: 318px;
        min-height: 310px;
    }

    .price_block {
        width: 317px;
        margin-bottom: 50px;
    }

    .price_block p,
    .price_block h2,
    .price_block h3 {
        height: 44.4px;
    }

    .price_block h2 {
        height: 88px;
        font-size: 36px;
        line-height: 42px;
    }

    .price_block h3 {
        height: 53px;
    }

    .price_block:nth-child(2) {
        box-shadow: 0px 4px 10px 0 rgba(51, 51, 51, 0.3);
    }

    .custom__block {
        width: 317px;
        height: 309px;
        margin-bottom: 10px;
    }

    .custom__text {
        padding-left: 30px;
    }

    .custom__name {
        width: 230px;
        height: 36px;
        font-size: 18px;
        line-height: 25px;
        margin: 0;
        margin-left: 22px;
        margin-bottom: 9px;
    }

    .custom__block img {
        width: 63px;
        height: 63px;
    }

    .manager {
        width: 231px;
        height: 16px;
        margin-left: 22px;
    }

    .custom__text::after {
        right: 230px;
    }

    .banner {
        max-width: 1510px;
        height: 358px;
        justify-content: start;
    }

    .contact h2 {
        font-weight: bold;
    }

    .contact__log,
    textarea {
        max-width: 486px;
    }

    .contact__input {
        margin-top: 40px;
    }
}

@media screen and (max-width:800px) {
    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }

    .text_h5 {
        font-size: 13px;
        line-height: 15px;
    }

    .part {
        margin: 0 16px;
        margin-bottom: 0;
    }

    .axit {
        height: 1005px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner320.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .header img {
        margin-left: 20px;
    }

    .header__menu {
        display: none;
    }

    .axit__logo {
        display: none;
    }

    .axit__block {
        margin: 84px 16px 0 16px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: max-content;

    }

    .axit__h1 h1 {
        text-align: center;
        max-width: 400px;
    }

    .axit__block .hr {
        align-self: center;
        width: 134px;
        margin: 44px 0 11px 0;
    }

    .axit__form {
        width: 288px;
        height: 381px;
        margin: 50px 0;
    }

    .axit__text {
        align-self: center;
        width: 288px;
        text-align: center;
    }

    .axit__content input[type="button"] {
        width: 288px;
        align-self: center;
    }

    .axit__form .form__h4 {
        width: 240px;
        height: 90px;
        margin: 0 20px;
    }

    .axit__form .form__h4 h4 {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }

    .form__input {
        margin: 0 20px;
    }

    .axit__form .tabs__bottom {
        margin-top: auto;
    }

    .social {
        margin-bottom: 41px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .social__h4 {
        justify-content: center;
        margin: 30px 0 13px 0;
    }

    .social .text_h5 {
        max-width: 271px;
        text-align: center;
    }

    .social__icon img {
        width: 26px;
        margin-left: 17px;
    }

    .social__icon {
        max-height: 103px;
    }

    .tabs>label {
        width: 92px;
    }

    .tabs__block img {
        display: none;
    }

    .tabs__content {
        padding: 0 23px;
        align-items: center
    }

    .tabs__h3 {
        height: 112px;
        margin-bottom: 29px;
        text-align: center;
    }

    .tabs__text .text_h5 {
        text-align: center;
        margin-bottom: 29px;
    }

    .tabs__text .text_pre {
        white-space: pre-wrap;
    }

    .tabs__content .tabs__bottom {
        width: 242px;
        height: 50px;
        margin-bottom: 30px;
    }

    .section {
        margin-bottom: 50px;
    }

    .section__text {
        margin-top: 25px;
    }

    .about .awesome h2 {
        font-size: 18px;
        line-height: 21px;
    }

    .groop {
        width: 288px;
        height: 318px;
        margin-bottom: 10px;
    }

    .paricing .section {
        margin-bottom: 24px;

    }

    .price_block p {
        font-size: 14px;
        line-height: 16px;
        height: 39.2px;
    }

    .price_block h2 {
        font-size: 24px;
        line-height: 28px;
        height: 78.4px;
    }

    .praice h3 {
        height: 47px;
    }

    .price_block {
        width: 288px;
        height: 400px;
        margin-bottom: 27px;
    }

    .price_block:last-of-type {
        margin-bottom: 0;
    }

    .price_block:nth-child(2) {
        box-shadow: none;
    }

    .price_block:nth-child(2n+1) {
        margin-top: 0px;
    }

    .rewiews .section {
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .custom__block {
        width: 288px;
    }

    .custom__text {
        width: 288px;
        height: 180px;
    }

    .custom__block img {
        width: 57px;
        height: 57px;
    }

    .custom__name {
        width: 204px;
        height: 36px;
    }

    .manager {
        width: 205px;
        height: 34px;
    }

    .banner {
        height: 358px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/banner22.jpg') no-repeat;
        background-size: 100%;
        padding: 0 16px;
    }

    .banner .text_h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .banner__bottom {
        width: 287px;
        height: 50px;
    }

    .contact h2 {
        font-weight: normal;
    }

    .contact__input {
        flex-wrap: wrap;
        margin-top: 14px;
    }

    textarea {
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .footer img {
        height: 26x;
        width: 26px;
        margin-right: 0;
    }

    .footer p {
        width: 288px;
        margin-top: 27px;
        justify-self: end;
    }

    .menu {
        display: block;
    }

    .header:target .header__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 75px;
        width: 100%;
        height: 574px;
        background: black;
    }

    .header__menu a {
        width: 100%;
        height: 67px;
    }

    .menu__button_close {
        display: none;
    }

    .header:target .menu__button {
        display: none;
    }

    .header:target .menu__button_close {
        display: flex;
    }
}

@media screen and (max-width:1002px) {

    .idea,
    .praice,
    .custom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        margin-top: 40px;
        justify-content: space-around;
    }

    .banner {
        margin-top: 31px;
    }

    .none {
        display: none;
    }

    #custom_input1:checked~#custom_input1,
    #custom_input2:checked~#custom_input2,
    #custom_input3:checked~#custom_input3 {
        display: block;
    }

    .custom {
        width: 288px;
        flex-direction: row-reverse;
    }

    .rewiews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .custom input[type="radio"]:checked+label {
        background: rgba(134, 135, 139, 1);
    }

    .custom label {
        height: 10px;
        width: 10px;
        margin: 23px;
        order: 3;
        display: block;
        border: 1px solid rgba(134, 135, 139, 1);
        border-radius: 50%;
    }
}